.Main{
  background-color: #f4f5f8;
  min-height: 100vh;
}
/* .column_section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 60px;
} */