@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.Main{
  background-color: #f4f5f8;
  min-height: 100vh;
}
/* .column_section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 60px;
} */